VITE_API_URL=https://api.31.207.74.138.nip.io
VITE_STUN_URLS=stun:stun.l.google.com:19302
VITE_TURN_URLS=turn:api.31.207.74.138.nip.io:3478?transport=udp,turn:api.31.207.74.138.nip.io:3478?transport=tcp
VITE_TURN_USERNAME=socialbird
VITE_TURN_CREDENTIAL=CHANGE_ME_TURN_PASSWORD
