listening-ip=0.0.0.0
relay-ip=0.0.0.0
external-ip=${PUBLIC_IP}
listening-port=3478
tls-listening-port=5349
min-port=49160
max-port=49200

fingerprint
lt-cred-mech
realm=${API_DOMAIN}
server-name=${API_DOMAIN}
user=${TURN_USERNAME}:${TURN_PASSWORD}

cert=/etc/letsencrypt/live/${API_DOMAIN}/fullchain.pem
pkey=/etc/letsencrypt/live/${API_DOMAIN}/privkey.pem

no-cli
no-tlsv1
no-tlsv1_1
no-loopback-peers
no-multicast-peers
stale-nonce=600

log-file=/var/log/turnserver/turnserver.log
simple-log
